* {
    font-family: 'Open Sans', sans-serif;
    background-color:rgb(243, 242, 232);
    text-align: center;
}

header {
    position: fixed;
    background-color: darkgreen;
    display: inline;
    
}

footer {
    text-align: center;
    background-color: blanchedalmond;
}

img {
    width: viewport-length;
    height: 300px;
}

.section_1 {
    font-size: 10px;
}


/* three colors */
/* header fixed to top of page */
/* universal, element, and class selectors */
/* single font famlily for all text */
